<!DOCTYPE html>
<html ng-app="resume">
<head profile="http://www.w3.org/2005/10/profile">

	<meta charset="utf-8">

	<meta name="format-detection" content="telephone=no">

	<!-- VIEWPORT -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FAV -->
	<link rel="icon" type="image/png" href="/graphics/site/fav.png" />

	<!-- FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:600' rel='stylesheet' type='text/css'>

	<!-- STYLE -->
	<link rel="stylesheet" href="index.php/default/style.css" type="text/css" />

	<!-- ANGULAR -->
	<script type="text/javascript" src="/scripts/angular.min.js"></script>
	<script type="text/javascript" src="/index.php/default/app.js"></script>

	<!-- JQUERY -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<title>David Leonard</title>

</head>

<body ng-controller="siteCtrl">

	<!-- FLOAT MENU -->
	<div class="menu-container">
		<div class="menu-spacer" align="center">
			<div>
				<div class="menu-circle"
					 ng-repeat="menuItem in menuItems"
					 post-menu-directive>
					<div class="img-menu-bg-{{menuItem.id}}"></div>
					<div class="img-menu-{{menuItem.id}}"
					 	 ng-mouseover="popup='popup-show'; getMargin(menuItem.id);"
						 ng-mouseleave="popup='popup-hide'"
						 ng-click="go(menuItem.location)"></div>
					<div id="popup-{{menuItem.id}}"
						 class="popup"
						 ng-class="popup"
						 style="margin-left: -{{popupMargin}}px;">{{menuItem.popup}}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="canvas" align="center">

		<!-- COVER -->
		<div id="cover">
			<div class="img-cover"
				 align="center">
				<div>
					<div class="img-title-cover"></div>
					<div class="img-title-cover-sub"></div>
				</div>
				<div>
					<div class="social">
						<div class="col-1-3 link-social"
							 align="center">
							<div class="img-social-pin"></div>
							Bay Area
						</div>
						<div class="col-1-3 link-social"
							 align="center"
							 ng-click="go('mailto: dleonard77@me.com')">
							<div class="img-social-envelope"></div>
							dleonard77@me.com
						</div>
						<div class="col-1-3 link-social"
							 align="center">
							<div class="img-social-cell"></div>
							818-370-8773
						</div>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div class="footnote-item-pdf" ng-click="go('graphics/site/Leonard-David-Resume.pdf')">
					<div>Save as PDF</div>
					<div class="img-icon-adobe"></div>
				</div>
			</div>
		</div>

		<!-- ME -->
		<div id="me">
			<div class="grid grid-pad">
				<div class="col-1-1">
					<div class="txt-stretch-intro">
						<div><div class="img-me"></div></div>
						<div>I create user interfaces that are clean and intuitive while applying a high degree of focus to detail, consistency and excellence throughout a project.</div>
					</div>
				</div>
			</div>
		</div>

		<!-- SKILLS -->
		<div id="badges">
			<div class="title-badges">SKILLS</div>
			<div class="grid grid-pad">

				<div class="col-1-1" align="center">

					<badges></badges>

				</div>

			</div>
		</div>

		<!-- CLIENTS -->
		<div id="clients">

			<clients></clients>

		</div>

		<!-- EXPERIENCE -->
		<div id="timeline">
			<div class="title-timeline">EXPERIENCE</div>
			<div class="img-timeline"></div>
		</div>

		<!-- FUN -->
		<div id="fun">
			<div class="container">
				<div class="grid grid-pad">
					<div class="col-1-1">
						<div class="title-fun">THINGS I ENJOY</div>
					</div>
					<div class="col-1-1">
						<div class="img-fun"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>