/*   DEFAULT   */

	html, body {
		font-family: 'Abel', sans-serif;
		font-size: 16px;
		margin: 0;
		padding: 0;
		background-color: #fff;
		color: #58595B;
		overflow: visible;
		-webkit-text-size-adjust: 100%;
	}

	img {
		border: 0px;
		max-width: 100%;
	}

	a {
		text-decoration: none;
	}

	*, *:after, *:before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	menu {
		padding: 0;
		margin: 0;
	}

	[class*='link-'],
	[id*='link-'] {
		cursor: pointer;
	}

	[class*="col-"] {
		float: none;
	}

	.canvas,
	.container {
		width: 100%;
	}

	.grid:after,
	.container:before,
	.container:after {
		content: "";
		display: table;
		clear: both;
	}

	.grid-pad {
		padding: 20px 0 0 20px;
	}
	.grid-pad > [class*='col-'] {
		padding: 0 20px 20px 0;
	}

	.menu-container {
		opacity: 0;
		-webkit-transition-property: opacity, margin;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		   -moz-transition-property: opacity, margin;
		   -moz-transition-duration: 0.3s;
		   -moz-transition-timing-function: ease-out;
		     -o-transition-property: opacity, margin;
		     -o-transition-duration: 0.3s;
		     -o-transition-timing-function: ease-out;
		        transition-property: opacity, margin;
		        transition-duration: 0.3s;
		        transition-timing-function: ease-out;
	}

	#cover,
	.img-logo,
	.img-title-cover,
	.img-title-cover-sub,
	.social,
	#me,
	.img-client,
	#badges,
	#responsive,
	#responsive > div,
	#timeline,
	#fun {
		-webkit-transition-property: opacity;
		-webkit-transition-duration: 0.7s;
		-webkit-transition-timing-function: ease-out;
		   -moz-transition-property: opacity;
		   -moz-transition-duration: 0.7s;
		   -moz-transition-timing-function: ease-out;
		     -o-transition-property: opacity;
		     -o-transition-duration: 0.7s;
		     -o-transition-timing-function: ease-out;
		        transition-property: opacity;
		        transition-duration: 0.7s;
		        transition-timing-function: ease-out;
	}

	#cover,
	.img-logo,
	.img-title-cover,
	.img-title-cover-sub,
	.social,
	#me,
	#badges,
	#timeline,
	#fun {
		opacity: 0;
	}

	[class*='img-'] {
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
	}

	[class*='txt-stretch'] {
		color: #58585a;
		text-align: justify;
		text-justify: distribute;
		line-height: 40px;
	}

/*   TITLES   */

	[class*='title-'] {
		font-size: 36px;
		text-transform: uppercase;
	}

	.title-badges {
		color: #58595B;
		padding: 40px 0 0 0;
	}
	.title-timeline {
		color: #D7DF23;
		padding: 100px 0 40px 0;
	}
	.title-fun {
		color: #58595B;
		padding: 40px 0 0 0;
	}

/*   MENU   */

	.menu-container {
		width: 100%;
		padding: 10px;
		position: fixed;
		z-index: 500;
		margin-top: -20px;
	}

	.menu-spacer {
		width: 100%;
	}
	.menu-spacer > div {
		display: table;
		margin-left: -40px;
	}

	.menu-container div.popup {
		box-shadow: 0 0 4px #666;
		background-color: #58595B;
		color: #fff;
		height: 30px;
		padding: 10px;
		margin-top: 50px;
	}

	[class*='popup'],
	.menu-circle,
	.menu-circle-white {
		height: 40px;
		border-radius: 40px;
	}
	.menu-circle {
		cursor: pointer;
		float: right;
		margin: 0 30px;
	}
	.menu-circle > div:nth-child(1),
	.menu-circle > div:nth-child(2) {
		position: absolute;
		height: 40px;
	}
	[class*='img-menu'] {
		background-blend-mode: difference;
	}
	.img-menu-pin,
	.img-menu-envelope,
	.img-menu-cell {
		width: 40px;
	}
	.img-menu-pin {
		background-image: url('/graphics/svg/menu-pin.svg');
	}
	.img-menu-envelope {
		background-image: url('/graphics/svg/menu-envelope.svg');
	}
	.img-menu-cell {
		background-image: url('/graphics/svg/menu-cell.svg');
	}

/*   POPUP   */

	.popup {
		opacity: 0;
		-webkit-transition-property: opacity, margin;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-timing-function: ease-out;
		   -moz-transition-property: opacity, margin;
		   -moz-transition-duration: 0.3s;
		   -moz-transition-timing-function: ease-out;
		     -o-transition-property: opacity, margin;
		     -o-transition-duration: 0.3s;
		     -o-transition-timing-function: ease-out;
		        transition-property: opacity, margin;
		        transition-duration: 0.3s;
		        transition-timing-function: ease-out;
	}

	[class*='-show'] {
		opacity: 1;
	}
	[class*='-hide'] {
		opacity: 0;
	}

	[class*="popup"] {
		position: absolute;
		border-radius: 40px;
		margin-top: 40px;
		width: auto;
		font-size: 14px;
	}

/*   COVER   */

	.img-cover {
		background-image: url('/graphics/bmp/background.jpg');
		width: 100%;
		min-height: 560px;
		background-size: cover;
	}
	.img-cover > div:first-child {
		padding: 77px 30px 10px;
	}
	.img-cover > div:nth-child(2) {
		display: table;
	}
	.img-title-cover {
		background-image: url('/graphics/svg/title-cover.svg');
		height: 63px;
	}
	.img-title-cover-sub {
		background-image: url('/graphics/svg/logo-ui.svg');
		height: 56px;
		margin-top: 17px;
	}

	.social {
		margin-top: 23px;
		color: #fff;
	}
	.social > div {
		margin-bottom: 20px;
 	}
	[class*='img-social'] {
		height: 32px;
		margin-bottom: 10px;
	}
	.img-social-pin {
		background-image: url('/graphics/svg/cover-pin.svg');
		width: 28px;
	}
	.img-social-envelope {
		background-image: url('/graphics/svg/cover-envelope.svg');
		width: 42px;
	}
	.img-social-cell {
		background-image: url('/graphics/svg/cover-cell.svg');
		width: 24px;
	}
	.footnote {
		margin: 14px 20px 0 0;
		display: table;
	}
	.footnote > div:hover {
		cursor: pointer;
		color: #ccde55;
	}
	.footnote > div,
	[class*='footnote-item'] > div {
		float: right;
		height: 18px;
		margin-left: 8px;
	}
	.img-icon-adobe {
		background-image: url('/graphics/svg/icon-adobe.svg');
		width: 18px;
	}

/*   ME   */

	#me {
		padding-top: 80px;
	}

	.txt-stretch-intro > div {
		display: table;
		width: 100%;
	}

	.img-me {
		background-image: url('/graphics/svg/me.svg');
		height: 130px;
		margin: 0 0 20px 0;
	}

/*   BADGES   */

	#badges {
		background-color: #E6E7E8;
	}

	.badge {
		margin-bottom: 20px;
		display: table;
		width: 100%;
	}

	.img-badge {
		float: right;
	}
	.badge-notes {
		float: left;
	}

	.img-badge {
		height: 17px;
		width: 25px;
		margin: 2px 10px 0;
	}

	.badge-container > div:nth-child(1),
	#responsive {
		visibility: hidden;
		position: absolute;
		width: 0;
		height: 0;
	}

/*   CLIENTS   */

	#clients,
	clients {
		display: table;
		width: 100%;
	}
	.client {
		cursor: pointer;
		width: 100%;
		background-color: #58595B;
	}
	.client > div {
		position: absolute;
		display: table;
	}
	.img-client {
 		background-color: #333;
 		background-size: cover;
 		background-blend-mode: luminosity;
 		opacity: 0.2;
	}
	.client:hover .img-client {
 		background-blend-mode: normal;
 		opacity: 1;
	}
	.client-name > div {
		display: table-cell;
 		vertical-align: middle;
 		text-align: center;
	}
	.client-name-spacer {
		display; table;
		width: 100%;
	}
	.client-name-spacer > div {
		border: 2px solid #fff;
		padding: 10px 16px;
 		color: #fff;
 		font-size: 24px;
 		display: table;
	}
	.client:hover .client-name-spacer > div {
 		color: #333;
		background-color: #fff;
 		box-shadow: 0 0 5px #ccc;
	}

/*   FUN   */

	.img-fun {
		background-image: url('/graphics/svg/fun.svg');
		height: 58px;
		margin: 0 0 60px 0;
	}

@media only screen
and (min-width: 561px) {

/*   DEFAULT   */

	.grid-pad {
		padding: 30px 0 0 30px;
	}
	.grid-pad > [class*='col-'] {
		padding: 0 30px 30px 0;
	}

	.col-1-1 {
		width: 100%;
	}
	.col-1-2 {
		width: 50%;
	}
	.col-1-3 {
		width: 33.33%;
	}
	.col-2-3 {
		width: 66.66%;
	}
	.col-1-4 {
		width: 25%;
	}
	.col-3-4 {
		width: 75%;
	}

	[class*="col-"] {
		float: right;
	}

/*   COVER   */

	.img-title-cover-sub {
		margin-top: 37px;
	}

	.img-cover {
		min-height: 600px;
	}
	.img-cover > div:first-child {
		padding: 170px 30px 10px;
	}
	.social {
		margin-top: 40px;
		width: 422px;
	}
	.social > div {
		margin-bottom: 0;
	}

	.footnote {
		margin: 14px 30px 0 0;
	}

/*   ME   */

	#me {
		padding-top: 0;
	}

	.txt-stretch-intro > div {
		display: table-cell;
		vertical-align: top;
		width: auto;
	}
	.txt-stretch-intro > div:first-child {
		padding: 0;
	}
	.txt-stretch-intro > div:last-child {
		padding: 10px 0 10px 40px;
	}

	.img-me {
		width: 130px;
		margin-top: 20px;
	}

/*   BADGES   */

	badges > div {
		display: table;
		margin-left: -190px;
	}
	badges > div:first-child {
		height: 160px;
    	margin-left: -140px;
	}

	.badge {
		width: 100%;
	}
	.badge-container > div {
		float: right;
	}
	.badge-container > div:nth-child(1) {
		visibility: visible;
		position: relative;
		height: auto;
	}

	.badge-notes {
		float: right;
	}

	[class*="img-badge-scale"] {
		margin: 2px 0 0 0;
		height: 16px;
		width: 134px;
		float: left;
	}
	.img-badge-scale-4 {
		background-image: url('/graphics/svg/badge-scale-4.svg');
	}
	.img-badge-scale-5 {
		background-image: url('/graphics/svg/badge-scale-5.svg');
	}
	.img-badge-scale-6 {
		background-image: url('/graphics/svg/badge-scale-6.svg');
	}
	.img-badge-scale-7 {
		background-image: url('/graphics/svg/badge-scale-7.svg');
	}

	#responsive {
		position: relative;
	}
	#responsive,
	#responsive > div {
		visibility: visible;
		text-align: center;
		height: auto;
	}
	#responsive > div {
		position: absolute;
	}

/*   CLIENTS   */

	.client {
		width: 50%;
		float: left;
	}
	.client:nth-child(2n+3) {
		clear: left;
	}

}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 800px) {

/*   DEFAULT   */

	.grid-pad {
		padding: 40px 0 0 40px;
	}
	.grid-pad > [class*='col-'] {
		padding: 0 40px 40px 0;
	}

/*   COVER   */

	.footnote {
		margin: 14px 40px 0 0;
	}

}

@media only screen
and (min-width : 1200px) {

/*   CLIENTS   */

	.client {
		width: 25%;
		float: left;
	}
	.client:nth-child(2n+3) {
		clear: none;
	}
	.client:nth-child(4n+5) {
		clear: left;
	}

}